.Button {
  height: 20px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  height: 30px;
  border: none;
  background-color: #FF4081;
}

.Button:focus {
  outline: none;
}

.Button_disabled {
  background-color: #cccccc;
}