.Button{
  height: 20px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  height: 30px;
  border: none;
  background-color: #FF4081;
  &:focus{
    outline: none;
  }
  &_disabled{
    @extend .Button;
    background-color: #cccccc;
  }
}