
  .Left_dateTime{
    margin: 30px 0;
  }
    .Left_dateTime_date{
      font-size: 20px;
    }
    .Left_dateTime_time{
      font-size: 36px;
    }

    .Left_weather_city{
      margin: 10px;
      font-size: 20px;
    }
    .Left_weather_icon{
      margin: 10px;
    }
