$size: 55px;
.Link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & p {
    font-size: 12px;
    max-width: 80px;
      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 &:focus {
    outline: 0;
  }
  &:hover{
    cursor: pointer;
  }
  &_circle{
    &_container{
      position: relative;
    }
    margin: 15px;
    height: $size;
    width: $size;
    border-radius: $size;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    &_removeButton{
      color: white;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 3;
    }
    & img{
      background-color: #cccccc;
      height: $size;
      width: $size;
    }
  }

}