$size: 55px;
.Link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & p {
    font-size: 12px;
    max-width: 80px;
      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 &:focus {
    outline: 0;
  }
  &:hover{
    cursor: pointer;
  }
  &_circle{
    margin: 15px;
    height: $size;
    width: $size;
    border-radius: $size;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
      height: $size;
      width: $size;
    }
  }

}