.Link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & p {
    font-size: 12px;
    max-width: 80px;
      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 &:focus {
    outline: 0;
  }
  &:hover{
    cursor: pointer;
  }
  &_circle{
    margin: 15px;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        height: 60px;
    width: 60px;
    }
  }

}