.App {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  height: 100vh;
  &_dark{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    text-align: center;
    flex-direction: row;
  }
}
